.background {
  background: #e7ebf4;
}

.text-decoration-none {
  text-decoration: none;
}

.card-header {
  color: #424242;
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  font-weight: 600;
}
